.calendarGridContainer{
   width : 90vw;
   height: 100%;
   display: flex;
   flex-direction: column;
   box-shadow: 0 4px 12px rgba(23, 23, 23, 0.1);

   @media (max-width: 768px) {
       width: 95vw;
       height: auto;
       margin: 1rem;
       flex-direction: column;
   }

}

.calendarGridHeader{
    width : 100%;
    height : 7vh;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        width: 100%;
        height: 10vh;
        flex-direction: column;
        align-items: center;
    }
}

.calendarGridLeftContainer{
    width : 50%;
    height: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        width: 100%;
        height: 50%;
        justify-content: center;
    }
}

.calendarGridRightContainer{
    width : 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 768px) {
        width: 100%;
        height: 50%;
        justify-content: center;
    }
}

.GridMonthYearTitle{
    font-size: xx-large;
    margin : 1.5rem;

    @media (max-width: 768px) {
        font-size: x-large;
        margin: 1rem;
    }
}


.nextButton{
    padding : 15px;
    border : none;
    border-radius: 30px;
    background-color: var(--color-secondary);
    margin : 2rem;
    cursor: pointer;

    @media (max-width: 768px) {
        padding: 10px;
        margin: 1rem;
    }
}

.nextButton:hover{
        transform: scale(1.05); 
        padding: 18px;

        @media (max-width: 768px) {
            transform: scale(1.03);
            padding: 12px;
        }
}


.yearSelect{
    padding: 15px;
    border: none;
    background-color: var(--color-secondary);
    cursor: pointer;
    margin: 2rem;
    font-size: medium;
    font-weight: 600;

    @media (max-width: 768px) {
        padding: 10px;
        margin: 1rem;
        font-size: small;
    }

}

.monthSelect{
    padding: 15px;
    border: none;
    background-color: var(--color-secondary);
    cursor: pointer;
    margin: 2rem;
    font-size: medium;
    font-weight: 600;

    @media (max-width: 768px) {
        padding: 10px;
        margin: 1rem;
        font-size: small;
    }
}

.greaterLesserIcon{
    background-color: transparent;
    font-size: larger;
    font-weight: bold;

}

.calendarGrid{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    gap : 1px;
    background-color: var(--color-background);

    @media (max-width: 768px) {
        grid-template-columns: repeat(7, 1fr);
        gap: 0px;
    }

}

.dayHeader{
    background-color: transparent;
    padding: 12px;
    font-weight: 600;
    text-align: center;
    color: #524e4e;

    @media (max-width: 768px) {
        padding: 8px;
        font-size: small;
    }
}

.calendarCells{
    height: 10rem;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #d4cdcd;

    @media (max-width: 768px) {
        height: 6rem;
    }
}

.cellDate{
    text-align: right;
    font-size: 1.5rem;
    background: transparent;   
    color: inherit;   
    font-weight: 500;
    margin : 0.5rem 2rem 0 0;

    @media (max-width: 768px) {
        font-size: 1rem;
        margin: 0.5rem 1rem 0 0;
    }
}

.today {
  background-color: #ede9fe; 
  color: #4c1d95;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(76, 29, 149, 0.2);
  transition: transform 0.2s ease;
  padding: 6px;

  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 4px;
  }
}

.today:hover {
  transform: scale(1.02);
  @media (max-width: 768px) {
    transform: scale(1.01);
  }
}


.eventContainer{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:center;
    border-radius: 8px;
    background-color: var(--color-secondary);
    border-left: 2px solid #656669;

    @media (max-width: 768px) {
        height: 20%;
        align-items: center;
        justify-content: center;
    }
}

.eventName{
    font-size: medium;
    font-weight: 700;
    background-color: transparent;
    margin: 0 10px 0 0 ;
    white-space: nowrap;         /* Prevents text from wrapping */
    overflow: hidden;            /* Hides overflow */
    text-overflow: ellipsis;     /* Adds ... */
    max-width: 6ch;              /* Approximate width for 5 characters */
    display: block;      

    @media (max-width: 768px) {
        font-size: small;
        margin: 0 5px 0 0;
    }
}   








