:root {
  --color-primary: #4F46E5;
  --color-secondary : #e5e7eb;
  --color-background: #F9FAFB;
  --color-text-primary: #151a25;
  --color-text-secondary: #2158c7;
  --color-highlight: #FEF3C7;
  --color-warning: #F87171;
  --color-success: #DCFCE7;
  --color-border: #E5E7EB;
}

